@page "/"

@inject HttpClient Http
@inject IJSRuntime JSRuntime

    <div class="col order-12">
        <div class="container p-4">
            <div class="row">
                <div class="card-columns">
                    <img src="https://equipoparatallerautomotriz.com/wp-content/uploads/2021/06/Como-montar-taller-mecanico.jpg" class="d-block w-100" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">Imagen Prueba</h5>
                    <p class="card-text">Para probar mini galeria</p>
                    <a href="" class="btn btn-primary w-80">
                        Ver Imagen
                    </a>

                </div>
                </div>
            </div>
        </div>

        <div class="container p-4">
            <div class="row">
                <div class="card-columns">

                    <img src="https://siempreauto.com/wp-content/uploads/sites/9/2021/10/jeep-gad8e37d86_1280.jpg?quality=60&strip=all&w=1200" class="d-block w-100" alt="...">
                    <div class="card-body"></div>
                    <h5 class="card-title">Imagen Prueba</h5>
                    <p class="card-text">Para probar mini galeria</p>
                    <a href="" class="btn btn-primary w-80">
                        Ver Imagen
                    </a>


                </div>
            </div>
        </div>

    </div>

   


